<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Auth Pages{% endblock %}</title>
    
    <!-- Link your CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="page-wrapper">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Link your JavaScript -->
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
