{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">
<script src="{% static 'script.js' %}" defer></script>
<div class="auth-container">
  <h2>Sign Up</h2>

  <div id="successBanner" class="success-banner hidden">
    Account created successfully! - Login
    <span id="closeBanner">&times;</span>
  </div>

  <form id="signupForm" method="post" >
    {% csrf_token %}
    <input type="text" id="fullname" name="fullname" placeholder="Full name">
    <input type="email" id="email" name="email" placeholder="Email">
    <input type="text" id="phone" name="phone" placeholder="Phone number">
    <input type="password" id="password" name="password" placeholder="Password">
    <input type="password" id="confirm" name="confirm" placeholder="Confirm password">
    <button type="submit" class="btn">Sign Up</button>
    <p>Have an account? <a href="{% url 'login' %}">Login</a></p>
  </form>
</div>
{% endblock %}
